:root {
    --green-color: rgba(124, 212, 41, 0.977);
    --black-blue-color: #334e6f;
    --light-red-Color: #FEE7EB;
    --dark-red-color: #F24B99;
    --black-color: #1e272e;
    --black-color1: #485460;
    --black-color2: #808e9b;
    --white-color: #ffffff;
    --white-color1: #f3f3f3;
    --white-color2: #f1f2f6;
    --white-color3: #ced6e0;
    --grey-color: #cec5cb90;
    --yellow-color: #f7de6a;
    --dark-blue-color: #3341d8e7;
    --sky-blue-color: #7cdeff78;
    --bodyColor: rgba(0, 255, 229, 0.039);

    --darkYellow: #f0932b;
    --transYellow: rgba(235, 175, 64, 0.205);
    --lightPink: #F34770;
    --transPink: rgba(233, 73, 156, 0.205);
    --darkBlue: #30336b;
    --transBlue: rgba(73, 89, 233, 0.205);
    --darkGreen: #1dd1a1;
    --transGreen: rgba(73, 233, 198, 0.205);
    --lightRed: #ff7979;
}