:root{
    --green-color: #1ede71;
    --black-blue-color: #334e6f;
    --light-red-Color: #FEE7EB;
    --dark-red-color: #F24B99;
    --black-color: #1e272e;
    --black-color1: #485460;
    --black-color2: #808e9b;
    --white-color: #ffffff;
    --white-color1: #dfe4ea;
    --white-color2: #f1f2f6;
    --white-color3: #ced6e0;
}