@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Ubuntu&display=swap');

:root {
    --opensans-font-family: 'Open Sans', sans-serif;
    --poppins-font-family: 'Poppins', sans-serif;
    --ubuntu-font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: var(--bodyColor);
}

.heading-text {
    font-family: var(--opensans-font-family);
}

.heading-color {
    color: var(--green-color);
}

.link-btn {
    background-color: var(--green-color);
    font-family: var(--poppins-font-family);
    color: var(--white-color);
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.link-btn:hover {
    background-color: var(--yellow-color);
    color: var(--black-blue-color);
}


/* NavBar Section Start */

nav {
    background-color: #595c5e26;
}

.nav-link {
    color: var(--black-color);
    font-family: var(--poppins-font-family);
}

.nav-link:hover {
    color: var(--green-color) !important;
}

/* NavBar Section End */

/* Background Content Section Start */

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: var(--green-color);
    border: none;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(95, 241, 46, 0.369);
}

.start-btn {
    margin: 20px;
    padding: 10px;
    width: 15%;
    height: 70px;
    color: var(--black-blue-color);
    border-radius: 50px;
    font-family: var(--poppins-font-family);
    border: none;
    outline: none;
}

/* Background Content Section End */

/* Job Categories Section Start */

.job-link {
    float: right;
    background-color: var(--green-color);
    width: 100px;
    font-family: var(--ubuntu-font-family);
}

/* Job Categories Section End */

/* PROFILE SECTION START */

.dropdown-item:focus, .dropdown-item:hover {
    color: var(--white-color);
    background-color: var(--green-color);
}
.dropdown-menu-start[data-bs-popper]{
    left: -130px;
}

/* PROFILE SECTION END */