@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Ubuntu&display=swap');

:root {
    --opensans-font-family: 'Open Sans', sans-serif;
    --poppins-font-family: 'Poppins', sans-serif;
    --ubuntu-font-family: 'Ubuntu', sans-serif;
}

/* NavBar Section Start */

nav {
    background-color: rgba(93, 86, 86, 0.069);
}

.nav-link:hover {
    color: var(--green-color) !important;
}

/* NavBar Section End */

/* Background Content Section Start */

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: var(--green-color);
    border: none;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(95, 241, 46, 0.369);
}

.start-btn {
    margin: 20px;
    padding: 10px;
    width: 15%;
    height: 70px;
    border-radius: 50px;
    font-family: var(--poppins-font-family);
    border: none;
    outline: none;
}

/* Background Content Section End */