@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Ubuntu&display=swap');

:root {
    --opensans-font-family: 'Open Sans', sans-serif;
    --poppins-font-family: 'Poppins', sans-serif;
    --ubuntu-font-family: 'Ubuntu', sans-serif;
}

/* NavBar Section Start */

nav {
    background-color: rgba(93, 86, 86, 0.069);
}

.nav-link:hover {
    color: var(--green-color) !important;
}