@media only screen and (max-width: 460px) {
    /* home Search Bar */
    .home-searchbar input{
        width: 250px;
    }
}

@media only screen and (max-width: 640px) {
    /* home list */
    .work-list{
        flex-direction: column;
    }
    .work-list li{
        margin: auto!important;
    }
}