* {
    padding: 0;
    margin: 0;
}

/* Background Content Section Start */

.bg-text {
    font-family: var(--ubuntu-font-family);
}

.banner-section {
    width: 100%;
    height: 600px;
    position: relative;
}

.banner-image-box {
    width: 100%;
    height: 600px;
}

.banner-image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-text-section {
    position: absolute;
    top: 150px;
}

/* Background Content Section End */

/* Work Process Section Start */

.work-process-heading {
    text-align: center;
    font-weight: bold;
    font-family: var(--opensans-font-family);
    font-size: 30px;
}

.work-process-text h5{
    color: var(--green-color);
    font-weight: bold;
    font-family: var(--poppins-font-family);
    font-size: 23px;
}
.work-process-text p{
    font-family: var(--ubuntu-font-family);
    font-size: 15px;
}

/* Work Process Section End */

/* Job Category Section Start */

.job-category{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 5fr));
    gap: 20px;
    padding: 20px 0px;
}

.job-category-box{
    width: 250px;
    height: 250px;
}

.job-category-box i{
    font-size: 50px;
    padding: 10px;
    color: var(--green-color);
    margin: auto;
}

/* Job Category Section End */