* {
    padding: 0;
    margin: 0;
}

/* Background Content Section Start */

.bg-text {
    font-family: var(--ubuntu-font-family);
}

.banner-section {
    width: 100%;
    height: 600px;
    position: relative;
}

.banner-image-box {
    width: 100%;
    height: 600px;
}

.banner-image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-text-section {
    position: absolute;
    top: 150px;
}

/* Background Content Section End */

/* Work Process Section Start */

.work-process-heading {
    text-align: center;
    font-weight: bold;
    font-family: var(--opensans-font-family);
    font-size: 30px;
}

.work-process-img {
    width: 200px;
    height: 100px;
}

.work-process-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.work-process-text h5 {
    color: var(--green-color);
    font-weight: bold;
    font-family: var(--poppins-font-family);
    font-size: 23px;
}

.work-process-text p {
    font-family: var(--ubuntu-font-family);
    font-size: 15px;
}

/* Work Process Section End */

/* Job Category Section Start */

.job-category {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
    gap: 20px;
    padding: 20px 0px;
}

.job-category-box {
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition: transform .3s ease-in-out;
}

.job-category-box:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.job-category-box i {
    width: 80px;
    height: 80px;
    font-size: 50px;
    padding-top: 10px;
    text-align: center;
    background-color: var(--green-color);
    color: var(--white-color);
    border-radius: 50%;
    margin: auto;
    transition: color .3s ease-in-out;
}

.job-category-box i:hover {
    background-color: var(--yellow-color);
    color: var(--black-blue-color);
}

.job-category-image {
    width: 100%;
    height: 100%;
}

/* Job Category Section End */

/* Client Section Start */

.owl-prev span {
    font-size: 40px;
}

.owl-next span {
    font-size: 40px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: var(--white-color);
    color: var(--black-color);
}

.owl-dots {
    display: none;
}

.client {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 2fr)); */
    gap: 20px;
    padding: 20px 0px;
    margin: 0px 15px;
}

.client-img {
    height: 100px;
    width: 100px;
    margin: 20px auto;
    border-radius: 50%;
    background-color: var(--green-color);
}

.client-img img {
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* Client Section End */


/* Seller Section Start */


.banner-text {
    position: absolute;
    top: 150px;
    left: 50px;
}

.banner-cover {
    background-color: var(--black-color2);
    position: absolute;
    top: 460px;
    left: 0;
    width: 100%;
    opacity: 0.7;
}

.banner-cover-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--white-color);
    font-family: var(--opensans-font-family);
}

/* Seller Section End */

/* Community Section Start */
.community-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
    gap: 20px;
    padding: 20px 0px;
}

.community-box {
    width: 230px;
    height: 230px;
    transition: transform .5s ease-in-out;
    transform: rotate(-5deg);
}

.community-box:hover {
    transform: rotate(0deg);
    background-color: var(--black-blue-color);
    opacity: 0.5;
    cursor: pointer;
}

.community-image {
    width: 230px;
    height: 230px;
}
.community-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all .5s ease-in;
}
.community-box:hover img{
    transform: scale(1.1);
    transition: all .5s ease-in;
}

.community-text{
    position: absolute;
    top: 140px;
    left: 25px;
    font-size: 30px;
    font-weight: 700;
    font-family: var(--poppins-font-family);
    color: var(--white-color);
}
/* Community Section End */




/* FOOTER SECTION Start */

footer {
    background-color: var(--green-color);
}

.footer-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--white-color);
    margin: 0px 10px;
    transition: scale .5s ease-in-out;
}

.footer-icon:hover {
    background-color: var(--yellow-color);
    scale: 1.2;
}

.footer-icon a {
    border-radius: 50%;
    padding: 10px 15px 12px 15px;
    color: var(--green-color);
}

.footer-icon a:hover {
    color: var(--black-blue-color);
}

.footer-icon a i {
    margin-top: 15px;
}

.footer-link {
    transition: scale .5s ease-in-out;
}

.footer-link:hover {
    scale: 1.1;
}

.footer-link a {
    color: var(--white-color);
    font-family: var(--ubuntu-font-family);
}

.footer-link a:hover {
    color: var(--black-blue-color);
}

.footer-copyright {
    background-color: var(--green-color);
}

/* Footer Section End */