* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Background Content Section Start */

.home-searchbar {
    display: flex;
    border: none;
    border: 2px solid var(--grey-color);
    width: max-content;
    border-radius: 20px;
    background-color: var(--white-color);
}

.home-searchbar input {
    border: none;
    outline: none;
    border-radius: 20px;
    width: 400px;
}

.home-searchbar input:focus {
    border: none;
    outline: none;
}

.bg-text {
    font-family: var(--ubuntu-font-family);
}

.banner-section {
    width: 100%;
    height: 600px;
    position: relative;
}

.banner-image-box {
    width: 100%;
    height: 600px;
}

.banner-image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}

.image-text-section {
    position: absolute;
    top: 150px;
}

/* Background Content Section End */

/* Work Process Section Start */

.work-process-heading {
    border-bottom: 2px solid var(--dark-red-color);
    width: fit-content;
    margin: auto;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: var(--opensans-font-family);
    font-size: 30px;
}

.work-process-img {
    width: 200px;
    height: 100px;
}

.work-process-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.work-process-text h5 {
    color: var(--green-color);
    font-weight: bold;
    font-family: var(--poppins-font-family);
    font-size: 23px;
}

.work-process-text p {
    font-family: var(--ubuntu-font-family);
    font-size: 15px;
}

/* Work Process Section End */

/* Job Category Section Start */

.job-category {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    gap: 20px;
    padding: 20px 0px;
}

.job-category-content p {
    font-family: var(--poppins-font-family);
    font-size: 15px;
    padding: 10px;
    text-align: center;
}

.job-category-box {
    width: 250px;
    min-height: max-content;
    object-fit: cover;
    transition: transform .3s ease-in-out;
}

.job-category-box:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.job-category-box i {
    width: 80px;
    height: 80px;
    font-size: 50px;
    padding: 10px;
    text-align: center;
    background-color: var(--green-color);
    color: var(--white-color);
    border-radius: 50%;
    margin: 20px auto;
    transition: color .3s ease-in-out;
}

.job-category-box i:hover {
    background-color: var(--yellow-color);
    color: var(--black-blue-color);
}

.job-category-image {
    width: 100%;
    height: 100%;
}

/* Job Category Section End */

/* Client Section Start */

.owl-prev span {
    font-size: 40px;
}

.owl-next span {
    font-size: 40px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: var(--white-color);
    color: var(--black-color);
}

.owl-dots {
    display: none;
}

.client {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 2fr)); */
    gap: 20px;
    padding: 20px 0px;
    margin: 0px 15px;
}

.client-img {
    height: 100px;
    width: 100px;
    margin: 20px auto;
    border-radius: 50%;
    background-color: var(--green-color);
}

.client-img img {
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* Client Section End */


/* Seller Section Start */


.banner-text {
    position: absolute;
    top: 150px;
    left: 50px;
}

.banner-cover {
    background-color: var(--black-color2);
    position: absolute;
    top: 460px;
    left: 0;
    width: 100%;
    opacity: 0.7;
}

.banner-cover-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--white-color);
    font-family: var(--opensans-font-family);
}

/* Seller Section End */

/* Community Section Start */
.community-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
    gap: 20px;
    padding: 20px 20px;
}

.community-box {
    width: 230px;
    height: 230px;
    transition: transform .5s ease-in-out;
    transform: rotate(-5deg);
}

.community-box:hover {
    transform: rotate(0deg);
    background-color: var(--black-blue-color);
    opacity: 0.5;
    cursor: pointer;
}

.community-image {
    width: 230px;
    height: 230px;
}

.community-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all .5s ease-in;
}

.community-box:hover img {
    transform: scale(1.1);
    transition: all .5s ease-in;
}

.community-text {
    position: absolute;
    top: 140px;
    left: 25px;
    font-size: 30px;
    font-weight: 700;
    font-family: var(--poppins-font-family);
    color: var(--white-color);
}

/* Community Section End */


/* PROFILE SECTION START */

/* PROFILE NAV START */

.profile-nav {
    width: 100%;
    height: 70px;
    position: relative;
}

.profile-icon {
    margin: 0px 20px;
    align-items: center;
    transition: all .5s ease-in-out;
}

.profile-icon a i {
    font-size: 20px;
    color: var(--black-color);
    transition: all .5s ease-in-out;
    padding: 10px;
    opacity: 1;
}

.profile-icon:hover {
    background-color: var(--yellow-color);
    transition: all .5s ease-in-out;
    border-radius: 10%;
    opacity: .4;
    outline: 0;
    scale: 1.2;
}

.profile-icon a:hover i {
    opacity: 1;
    color: var(--black-blue-color);
}

.buy-btn {
    border: 2px solid var(--green-color);
    font-family: var(--poppins-font-family);
    color: var(--black-color);
    width: 150px;
    height: 40px;
    margin: 0px 10px;
    font-size: 15px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
}

.buy-btn:hover {
    background-color: var(--green-color);
    color: var(--white-color);
    border: none;
    outline: none;
}

/* PROFILE NAV END */

/* PROFILE MAIN SECTION START */

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.profile-img:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.2);
}

.col-3 div span a {
    color: var(--black-color);
    font-size: 20px;
    font-weight: 500;
    font-family: var(--poppins-font-family);
}

.profile-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.profile-list li a:hover {
    color: var(--green-color);
}

.profile-list li a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 15px;
    font-family: var(--poppins-font-family);
}

.profile-content-head {
    font-family: var(--opensans-font-family);
    font-weight: bold;
}

.form-select {
    cursor: pointer;
}

.form-select:focus {
    border-color: var(--green-color);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 253, 41, 0.25);
}

.profile-content-list {
    display: flex;
    justify-content: space-between;

}

.profile-content-list li p {
    text-align: center;
    padding: 10px;
    font-family: var(--ubuntu-font-family);
}

.profile-list-img {
    width: 100px;
    height: 100px;
    margin: auto;
}

.profile-list-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-content-list li a {
    text-align: center;
    font-family: var(--poppins-font-family);
    color: var(--white-color);
    background-color: var(--green-color);
    padding: 10px;
    border-radius: 10px;
}


/* PROFILE MAIN SECTION END */


/* PROFILE SECTION END */

/* Explore Section Start */

.banner-bg-overlay {
    position: absolute;
    top: 0px;
    background: rgba(48, 48, 48, 0.18);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border: 1px solid rgba(96, 95, 95, 0.3);
    width: 100%;
    height: 600px;
}

.explore-text {
    position: absolute;
    top: 200px;
    left: 100px;
}

.explore-text h1 {
    border-bottom: 2px solid var(--dark-red-color);
    width: fit-content;
    padding-bottom: 10px;
    font-family: var(--opensans-font-family);
    font-weight: bold;
    color: var(--white-color);
}

.explore {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 10px;
}

.explore-img {
    width: 260px;
    height: 173px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.explore-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    transition: scale 400ms ease-in-out;
}

.explore-img:hover img {
    scale: 120%;
}

.user-img {
    width: 30px;
    height: 30px;
}

.user-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}


/* Explore Section End */


/* Footer Section Starts */

.footer-bg {
    width: 100%;
    min-height: 300px;
    background-image: url('../image/footer image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.footer-overlay {
    background: rgba(0, 0, 0, 0.367);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    min-height: max-content;
    gap: 40px;
}

/* Footer Section End */


/* User Profile Section Start */

.userprofile-img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.userprofile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.userprofile-img:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.2);
}

.card-hover span a {
    color: var(--black-color);
}

.card-hover:hover {
    cursor: pointer;
}

.card-hover:hover span a {
    color: var(--green-color);
}

.user-profile-text {
    font-size: 15px;
    font-family: var(--opensans-font-family);
}

.user-profile-list li {
    display: flex;
    justify-content: space-between;
}

.user-profile-list li p {
    font-family: var(--ubuntu-font-family);
    font-weight: bold;
}

.user-profile-list li:nth-child(2) p {
    font-weight: normal;
}

.hidden {
    display: none;
}

/* User Profile Section End */

/* search page section start */

.searchbar {
    display: flex;
    flex-wrap: nowrap;
    border: none;
    border: 2px solid var(--grey-color);
    width: max-content;
    border-radius: 20px;
    background-color: var(--white-color);
}

.searchbar input {
    border: none;
    outline: none;
    border-radius: 20px;
    width: 500px;
    padding: 5px;
}

.searchbar input:focus {
    border: none;
    outline: none;
}

/* search page section end */

/* Side bar css starts */

.sidebar-responsive {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: var(--light-red-Color);
    transition: all 0.5s ease-in-out;
    z-index: 10;
}

#sidebar.active {
    left: 0px;
}

.sidebar-logo span {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.sidebar-logo span img {
    width: 100%;
    height: 100%;
}

.close-btn {
    color: var(--black-color);
    font-size: 25px;
    cursor: pointer;
    width: 50px;
    text-align: center;
}

.toggler {
    border: none;
    outline: none;
    width: 50px;
    height: 40px;
    background-color: var(--green-color);
    color: var(--white-color);
    /* padding: 10px; */
    margin: 10px 10px;
    border-radius: 10px;
}

/* Sidebar css ends */


/* employee page style start */

.employee_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.employeeCard {
    background-color: var(--white-color);
}

.cover_image {
    width: 100%;
    height: 150px;
    position: relative;
}

.cover_image .cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 68%, 0 81%);

}

.profile_emp {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    background-color: var(--white-color);
    padding: 5px;
}

.profile_emp .imgprofile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.search-title {
    font-family: var(--ubuntu-font-family);
    font-weight: bold;
}

.customCheck input[type='checkbox'] {
    width: 15px;
    height: 15px;
}

.search-box {
    display: flex;
    align-items: center;
    border: 2px solid var(--grey-color);
    border-radius: 30px;
}

.drop-down {
    position: relative;
    width: 400px;
    cursor: pointer;
}

.drop-down-items {
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    background-color: var(--green-color);
    padding: 0.8rem 1.5rem;
    color: var(--white-color);
    font-family: var(--poppins-font-family);
    font-size: 15px;
}

.drop-down-list {
    position: absolute;
    display: none;
    transition: all 0.3s ease-in-out;
    top: 4rem;
    left: 0rem;
    width: 100%;
    height: 150px;
    background-color: var(--light-red-Color);
    color: var(--black-color2);
    z-index: 3;
    border-radius: 10px;
    overflow-y: scroll;
}

#stateName.state {
    display: block;
}

#cityName.city {
    display: block;
}

#stateIcon.dropIcon {
    transform: rotate(-180deg);
}

#cityIcon.drop-cityIcon {
    transform: rotate(-180deg);
}

.drop-down-list-items {
    font-family: var(--poppins-font-family);
    font-weight: 500;
    padding: 0.7rem 0rem 0.5rem 1rem;
    transition: all 0.3s ease-in-out, all 0.3s ease-in-out;
}

.drop-down-list-items:hover {
    margin-left: .5rem;
    color: var(--dark-red-color);
}

.cardsearch {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 1rem;
}

.cardsearch input {
    padding: 0.5rem;
    width: 100%;
    border: none;
    outline: none;
}

.client-img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
}

.client-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.like-icon {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.like-icon i {
    position: absolute;
    top: 20px;
    left: 17px;
}

.like-icon:hover i {
    color: red;
}

.about-img {
    width: 300px;
    height: 300px;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.drop-link {
    width: 50px;
    height: 50px;
}

.drop-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}